@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// $bg-color: #b5bac9;
$bg-color: #eeeef9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color;
  font-family: 'Open Sans', sans-serif;
}

.todo-container {
  padding: 0 7px;
  position: relative;
  width: 40%;
  background-color: #fff;
  border: 1px solid #aaa;


  .add-todo-container {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff2828, #e20000);
    box-shadow: 2px 2px 5px #888;
    cursor: pointer;
    transition: transform .115s linear;

    &:hover {
      transform: scale(1.3);
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      outline: none;
      border: none;
      color: #fff;
      cursor: inherit;

      .fa-plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.9rem;
      }
    }
  }

  .todo-item {
    padding: 7px 0;
    border-bottom: 1px dashed #999;
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration .3s linear;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      text-decoration: line-through;
    }

    p {

    }
  }
}
